{
  "extends": ["react-app", "eslint-config-prettier", "eslint-config-react-app"],
  "overrides": [
    {
      "files": ["**/*.js?(x)"],
      "rules": {
        "import/no-anonymous-default-export": 0
      }
    }
  ]
}
